a, h1, h2, h3, h4, h5, p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.background-gradient {
    display: flex;
    background: linear-gradient(180deg, #235f90, #a11ea8, #235f90);
    background-size: 600% 600%;

    animation: AnimationName 27s ease infinite;

    justify-content: center;
    align-items: center;
}

@keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}

#content {
    display: flex;
    width: 80%;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    color: black;
    padding-bottom: 35px;
}

h1 {
    font-size: 3.5rem;
}

#oppgaver {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#languages {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.languagesElem {
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rems;
}

.button {
    width: 100%;
    background-color: #5865F2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #767fe9;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }
    
    #oppgaver {
        flex-direction: column;
    }

    #languages {
        flex-direction: column;
        height: 250px;
    }
}