:root {
  --main-color: #f5fbff;
  --accent-color1: #D1E5F4;
  --accent-color2: #9ABDDC;
}

*::-webkit-scrollbar {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h1 {
  font-size: 2.5rem;
  margin: 0px;
}

h2 {
  font-size: 1.8rem;
  margin: 0px;
}

h3 {
  font-size: 1.5rem;
  margin: 20px;
}

p {
  margin: 0.5em 0;
}

a {
  color: white;
  text-decoration: none;
}

.smallText {
  font-size: 0.8rem;
}

/*BACKGROUND IMAGE*/
.backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  transform: translate(0%, 0%);
}

/*DEFAULT*/
.App {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.5rem;
  height: 100vh;
  width: 100vw;
}

/*ERROR PAGE*/
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/*ABOUT PAGE*/
.about {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 80% 10%;
  height: 100%;
  width: 100%;
}

.mainAbout {
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.credits {
  display: flex;
  flex-direction: column;
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: 0.8rem;
  align-items: center;
  justify-content: flex-end;
}

.toLoginPage {
  display: flex;
  width: 150px;
  height: fit-content;
  padding: 10px 25px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 3px solid #ffffff50;
  background-color: rgba(0,0,0,0.50);
  cursor: pointer;
}

/*LOGIN PAGE*/
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loginBox {
  display: flex;
  width: 30%;
  height: 40%;
  box-shadow: -3px 1px 82px 22px rgba(0,0,0,0.75);
  -webkit-box-shadow: -3px 1px 82px 22px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 1px 82px 22px rgba(0,0,0,0.75);
  border-radius: 20px;
  padding: 20px;
  flex-direction: column;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.loginBack {
  display: flex;
  cursor: pointer;
  width: fit-content;
  color: white;
}

.loginMethods {
  display: flex;
  flex-direction: column;
  height: calc(100% - 30px);
  width: 100%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: white;
}

.loginText {
  margin: 0px;
}

.backIcon {
  margin-top: 3px;
  margin-right: 10px;
  height: 30px;
  color: white;
}

.back {
  font-size: 30px;
}

.icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.loginbutton {
  width: 150px;
  height: fit-content;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
}

.google {
  border: 3px solid #df4930;
  background-color: rgba(0,0,0,0.50);
}

/*PLEASE LOGIN PAGE*/
.pleaseLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.pleaseLogin h2 {
  text-decoration: underline;
  cursor: pointer;
}

/*HOME PAGE*/
.home {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.userName {
  display: grid;
  width: calc(100vw - 20px - 20px);
  height: fit-content;
  align-items: center;
  padding: 20px;
  grid-template-columns: 60px auto 110px;
  grid-template-rows: auto;
  grid-column-gap: 20px;
}

.userPFP {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  grid-column-start: 1;
  grid-column-end: 2;
}

.name {
  grid-column-start: 2;
  grid-column-end: 3;
}

.logout {
  cursor: pointer;
  border: 3px solid #ffffff50;
  border-radius: 5px;
  padding: 5px 2px 5px 2px;
  background-color: rgba(0,0,0,0.30);
  backdrop-filter: blur(10px);
  grid-column-start: 3;
  grid-column-end: 4;
}

.logout:hover {
  background-color: rgba(228, 0, 0, 1);
}

.content {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  padding: 0px 20px 20px 20px;
  height: calc(100vh - 80px);
}

.pr {
  display: grid;
  position: relative;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.7);
  background-color: rgba(0,0,0,0.40);
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 20px;

  grid-template-columns: auto;
  grid-template-rows: 50px auto;

  cursor: pointer;
}

.elementHeader {
  font-weight: bold;
}

.thisWeek {
  display: grid;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.7);
  background-color: rgba(0,0,0,0.40);
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  padding: 20px;
}

.myDays {
  display: grid;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.7);
  background-color: rgba(0,0,0,0.40);
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  padding: 20px;
}

.editIcon {
  display: flex;
  position: fixed;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

/*PR PAGE*/
.prSite {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.prMain {
  display: flex;
  width: 40%;
  height: 60%;
  box-shadow: -3px 1px 82px 22px rgba(0,0,0,0.75);
  -webkit-box-shadow: -3px 1px 82px 22px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 1px 82px 22px rgba(0,0,0,0.75);
  border-radius: 20px;
  padding: 20px;
  flex-direction: column;
  backdrop-filter: blur(10px);
  border: 4px solid rgba(255, 166, 0, 0.7);
  align-items: center;
  text-align: center;
}

.prBack {
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

#bench, #deadlift, #squat {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: rgba(0,0,0,0.50);
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
}

#submit {
  width: 100%;
  background-color: #525252;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .App {
    min-height: 100vh;
    max-height: fit-content;
  }

  .loginBox {
    width: 60%;
  }

  .userName {
    height: 200px;
    grid-template-columns: 60px auto;
    grid-template-rows: auto 40px;
    grid-row-gap: 20px;
  }

  .userPFP {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  
  .name {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  
  .logout {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .content {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    min-height: calc(120vh - 200px);
  }

  .pr {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .thisWeek {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .myDays {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .prMain {
    width: 70%;
    height: 80%;
  }
}