:root {
  --main-color: #f5fbff;
  --accent-color1: #D1E5F4;
  --accent-color2: #9ABDDC;
}

*::-webkit-scrollbar {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h1 {
  font-size: 2.5rem;
  margin: 0px;
}

h2 {
  font-size: 1.8rem;
  margin: 0px;
}

h3 {
  font-size: 1.5rem;
  margin: 20px;
}

p {
  margin: 0.5em 0;
}

a {
  color: white;
  text-decoration: none;
}

.oldLink {
  text-decoration: underline;
}

.smallText {
  font-size: 0.8rem;
}

/*BACKGROUND IMAGE*/
.backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  transform: translate(0%, 0%);
}

/*DEFAULT*/
.App {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.5rem;
  height: 100vh;
  width: 100vw;
}

/*ERROR PAGE*/
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/*ABOUT PAGE*/
.about {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 80% 10%;
  height: 100%;
  width: 100%;
}

.mainAbout {
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.credits {
  display: flex;
  flex-direction: column;
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: 0.8rem;
  align-items: center;
  justify-content: flex-end;
}

.toLoginPage {
  display: flex;
  width: 150px;
  height: fit-content;
  padding: 10px 25px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 3px solid #ffffff50;
  background-color: rgba(0,0,0,0.50);
  cursor: pointer;
}

/*LOGIN PAGE*/
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loginBox {
  display: flex;
  width: 30%;
  height: 40%;
  box-shadow: -3px 1px 82px 22px rgba(0,0,0,0.75);
  -webkit-box-shadow: -3px 1px 82px 22px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 1px 82px 22px rgba(0,0,0,0.75);
  border-radius: 20px;
  padding: 20px;
  flex-direction: column;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.loginBack {
  display: flex;
  cursor: pointer;
  width: fit-content;
  color: white;
}

.loginMethods {
  display: flex;
  flex-direction: column;
  height: calc(100% - 30px);
  width: 100%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: white;
}

.loginText {
  margin: 0px;
}

.backIcon {
  margin-top: 3px;
  margin-right: 10px;
  height: 30px;
  color: white;
}

.back {
  font-size: 30px;
}

.icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.loginbutton {
  width: 150px;
  height: fit-content;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
}

.google {
  border: 3px solid #df4930;
  background-color: rgba(0,0,0,0.50);
}

/*PLEASE LOGIN PAGE*/
.pleaseLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.pleaseLogin h2 {
  text-decoration: underline;
  cursor: pointer;
}

/*HOME PAGE*/
.home {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.userName {
  display: grid;
  width: calc(100vw - 20px - 20px);
  height: fit-content;
  align-items: center;
  padding: 20px;
  grid-template-columns: 60px auto 110px;
  grid-template-rows: auto;
  grid-column-gap: 20px;
}

.userPFP {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  grid-column-start: 1;
  grid-column-end: 2;
}

.name {
  grid-column-start: 2;
  grid-column-end: 3;
}

.logout {
  border: 3px solid #ffffff50;
  border-radius: 5px;
  padding: 5px 2px 5px 2px;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  background-color: rgba(0,0,0,0.30);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  grid-column-start: 3;
  grid-column-end: 4;
}

.logout:hover {
  background-color: rgba(228, 0, 0, 1);
}

.content {
  display: grid;
  grid-template-columns: calc((100% - 20px - 20px) / 3) calc((100% - 20px - 20px) / 3) calc((100% - 20px - 20px) / 3);
  grid-template-rows: calc(50% - 10px) calc(50% - 10px);
  gap: 20px;
  padding: 0px 20px 20px 20px;
  height: calc(100vh - 80px - 40px);
}

.pr {
  all: unset;

  display: grid;
  position: relative;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.7);
  background-color: rgba(0,0,0,0.40);
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 20px;

  grid-template-columns: auto;
  grid-template-rows: 50px auto;

  cursor: pointer;
}

.pr .prlist h3 {
  font-size: 1.2rem;
}

.elementHeader {
  font-weight: bold;
}

.thisWeek {
  all: unset;

  display: grid;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.7);
  background-color: rgba(0,0,0,0.40);
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  padding: 20px;

  grid-template-columns: auto;
  grid-template-rows: 50px 35px auto;

  cursor: pointer;
}

.weekContent {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
}

.weekContent .smallweek {
  display: flex;
}

.weekContent .smallweek .weekDay {
  display: flex;
  flex-direction: column;
  width: 180px;
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  border-right: 1px solid rgba(255, 255, 255, 0.7);
}

.weekContent .smallweek .weekDay:first-child {
  border-left: none;
}

.weekContent .smallweek .weekDay:last-child {
  border-right: none;
}

.weekContent .smallweek .weekDay h3 {
  margin: 5px;
}

.weekContent .smallweek .weekDay div div p {
  margin-left: 10px;
  width: fit-content;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.myDays {
  all: unset;

  display: grid;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.7);
  background-color: rgba(0,0,0,0.40);

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 20px;

  height: calc(100% - 40px);

  grid-template-columns: auto;
  grid-template-rows: 50px auto;

  cursor: pointer;
  overflow-y: hidden;
}

.dayContent {
  height: calc(100% - 50px);
  overflow-y: scroll;
}

.day h3 {
  margin: 0px;
}

.day p {
  margin-left: 10px;
}

.day {
  text-align: left;
}

.editIcon {
  display: flex;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.lastUpdated {
  font-size: 1rem;
}

/*PR PAGE*/
.prSite {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.prMain {
  display: flex;
  width: 40%;
  margin-top: 10vw;
  height: fit-content;
  box-shadow: -3px 1px 82px 22px rgba(0,0,0,0.75);
  -webkit-box-shadow: -3px 1px 82px 22px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 1px 82px 22px rgba(0,0,0,0.75);
  border-radius: 20px;
  padding: 20px;
  flex-direction: column;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.7);
  align-items: center;
  text-align: center;
}

.prBack {
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.prMain form input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: rgba(0,0,0,0.50);
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
}

#submit {
  width: 100%;
  background-color: #525252;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*DAY PAGE*/
.daySite {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.dayMain {
  display: flex;
  width: 40%;
  margin-top: 10vw;
  height: fit-content;
  box-shadow: -3px 1px 82px 22px rgba(0,0,0,0.75);
  -webkit-box-shadow: -3px 1px 82px 22px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 1px 82px 22px rgba(0,0,0,0.75);
  border-radius: 20px;
  padding: 20px;
  flex-direction: column;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.7);
  align-items: center;
  text-align: center;
}

.dayBack {
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.newDay {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.dayMain form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.addExercise {
  position: relative;
  background-color: #ffffff00;
  border: none;
  color: white;
  top: 12px;
  cursor: pointer;
}

.deleteButton {
  position: relative;
  background-color: #ffffff00;
  border: none;
  color: red;
  top: 12px;
  cursor: pointer;
}

.updateButton {
  width: 60%;
  align-self: center;
  background-color: #00059d;
  border: 2px solid #048eff;
  border-radius: 4px;
  color: white;
  font-size: large;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
}

.spacerForm {
  width: 44px;
  height: 38px;
}

.formPortion {
  margin-bottom: 2.5em;
  border-bottom: white solid 1px;
  border-top: white solid 1px;
  padding: 0.8em 0;
}

.dayMain form input.name[type=text] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: rgba(0,0,0,0.50);
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
}

.dayMain form input.subname[type=text] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: rgba(0,0,0,0.50);
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
}

.dayMain form div div label {
  font-size: 1.7rem;
  font-weight: bold;
}

.dayMain form div div div label {
  font-size: 1.2rem;
  font-weight: 400;
}

/*WEEK PAGE*/
.weekSite {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.weekMain {
  display: flex;
  width: 80%;
  margin-top: 10vw;
  height: fit-content;
  box-shadow: -3px 1px 82px 22px rgba(0,0,0,0.75);
  -webkit-box-shadow: -3px 1px 82px 22px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 1px 82px 22px rgba(0,0,0,0.75);
  border-radius: 20px;
  padding: 20px;
  flex-direction: column;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.7);
  align-items: center;
  text-align: center;
}

.weekBack {
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.weekView {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
}

.weekContent{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto auto;
  grid-gap: 1.5em;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
}

.weekDayView {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  padding: 0.8em;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  background-color: rgba(0,0,0,0.50);
}

.newPlanPage {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.weekDayView .plan {
  display: flex;
  width: fit-content;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}

/*NEWPLAN PAGE*/
.newPlan {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.planBox {
  display: flex;
  width: 80%;
  margin-top: 10vw;
  height: fit-content;
  box-shadow: -3px 1px 82px 22px rgba(0,0,0,0.75);
  -webkit-box-shadow: -3px 1px 82px 22px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 1px 82px 22px rgba(0,0,0,0.75);
  border-radius: 20px;
  padding: 20px;
  flex-direction: column;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.7);
  align-items: center;
  text-align: center;
}

.planBack {
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .App {
    min-height: 100vh;
    max-height: fit-content;
  }

  .loginBox {
    width: 60%;
  }

  .userName {
    height: 200px;
    grid-template-columns: 60px auto;
    grid-template-rows: auto 40px;
    grid-row-gap: 20px;
  }

  .userPFP {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  
  .name {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  
  .logout {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .content {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    min-height: calc((200vh - 200px) + 80px);
  }

  .pr {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .thisWeek {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .myDays {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 4;

    min-height: 400px;
  }

  .prMain, .dayMain {
    width: 70vw;
    margin-top: 10vw;
    height: fit-content;
  }
}