a, h1, h2, h3, h4, h5, p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.background-gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animateBg 27s linear infinite;
    background-image: linear-gradient(125deg,#d232bd,#418ade,#d232bd,#418ade);
    background-size: 300% 100%;
}
@keyframes animateBg {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 0%; }
}

#content {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    width: 80%;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    color: black;
    padding-bottom: 35px;
}

h1 {
    font-size: 3.5rem;
}

.button {
    width: 30%;
    background-color: #5865F2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #767fe9;
}

input {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}