a, h1, h2, h3, h4, h5, p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.background-gradient {
    display: flex;
    background: linear-gradient(180deg, #235f90, #a11ea8, #235f90);
    background-size: 600% 600%;

    animation: AnimationName 27s ease infinite;

    justify-content: center;
    align-items: center;
}

@keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}

#content {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    width: 80%;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    color: black;
    padding-bottom: 35px;
}

h1 {
    font-size: 3.5rem;
}

#customCharacter {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

#gameMenu {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.button {
    width: 30%;
    background-color: #5865F2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #767fe9;
}

input, select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}