:root {
  --main-color: #F6F8FA;
  --main-color2: #ffffff;
  --accent-color1: #557CFA;
  --accent-color2: #E95584;
  --accent-color3: #9D72F2;
  --accent-color4: #3665F7;
  --input-color: #e9e9e9;
  --name-color: #000000;
  --delete-color: red;
  --header-color: #464646;
  --text-color1: #FFFFFF;
  --text-color2: #5a5a5a;
  --link-color: #0099FF;
  --icon-color-unselected: #8B8B8B;
  --icon-hover-color: #5f5f5f;
  --icon-color-selected: var(--accent-color4);
  --drop-shadow-color: #0075B922;
  --drop-shadow-opacity: 6px;
  --scrollbar: #d5d5d5;
  --scrollbar-hover: #c7c7c7;
}

::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}
/* commented out because i dont want a scrollbar, but i might want it later
::-webkit-scrollbar-track {
  background: var(--main-color); 
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
}*/

body, html, #root, .App {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
}

/*NavBar*/
.content .navBar {
  grid-area: navBar;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 90%;
  margin-top: 20px;
  border-radius: 30px;
  background-color: var(--main-color2);
  box-shadow: 0px 5px var(--drop-shadow-opacity) var(--drop-shadow-color);
}
.content .navBar .navElem {
  display: flex;
  font-size: 2.4rem;
  color: var(--icon-color-unselected);
  transition: color 0.2s ease-in-out;
  justify-content: center;
  align-items: center;
}
.content .navBar .navElem:hover {
  color: var(--icon-hover-color);
}
.content .navBar .active {
  color: var(--icon-color-selected);
}

/*cross-site*/
.home, .prSite, .daySite, .planSite, .editDaySite, .editPrSite, .profileSite {
  width: calc(100vw - 10vw);
  height: calc(100vh - 2vh);
  padding: 1vh 5vw;
}
.home .userName, .prSite .userName, .daySite .userName {
  color: var(--name-color);
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  height: 5%;
}
.home .userName .hello, .prSite .userName .hello, .daySite .userName .hello {
  color: var(--text-color2);
  font-size: 1.6rem;
}
.content .planSiteHeader {
  grid-area: backNav;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin: 0;
  color: var(--header-color);
  font-weight: 600;
  text-decoration: none;
}
.content .planSiteHeader ion-icon {
  color: var(--header-color);
  font-size: 2rem;
}
.content .planSiteHeader .backText {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 0.05em;
}

/*Home*/
.home .content {
  display: grid;
  height: calc(90% - 20px);
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 44% 44% 12%;
  grid-template-areas:
    "otherWeek"
    "myWeek"
    "navBar"
  ;
  margin-top: 20px;
}
.home .content .otherPlans {
  grid-area: otherWeek;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 70% 30%;
  grid-template-rows: 10% 25% 65%;
  grid-template-areas:
    "otherHeader moreLink"
    "weekOption weekOption"
    "weekViewer weekViewer"
  ;
}
.home .content .otherPlans .otherHeader {
  grid-area: otherHeader;
  display: flex;
  align-items: flex-end;
  color: var(--header-color);
  margin: 0;
  font-weight: 600;
}
.home .content .otherPlans .moreLink {
  grid-area: moreLink;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: var(--link-color);
  margin: 0;
  font-weight: 600;
  text-align: right;
  text-decoration: none;
}
.home .content .otherPlans .daysList {
  grid-area: weekOption;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: nowrap;
  width: calc(100%);
  margin-left: -5vw;
  padding-left: 5vw;
  padding-right: 5vw;
}
.home .content .otherPlans .daysList .day {
  display: flex;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  margin: 0.5em;
  border: none;
  text-decoration: none;
  color: var(--header-color);
  box-shadow: 0px 5px var(--drop-shadow-opacity) var(--drop-shadow-color);
}
.home .content .otherPlans .daysList .day:first-child {
  margin-left: 0;
}
.home .content .otherPlans .daysList .day:last-child {
  margin-right: 0;
}
.home .content .otherPlans .thisDay {
  grid-area: weekViewer;
}
.home .content .otherPlans .thisDay .dayList {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: nowrap;
  width: calc(100%);
  margin-left: -5vw;
  padding-left: 5vw;
  padding-right: 5vw;
}
.home .content .otherPlans .thisDay .dayList .dayPlan {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 30% 20% 16% 16% 18%;
  grid-template-areas:
    "planPfp planTime"
    "planOwner planOwner"
    "planPlace planPlace"
    "planDesc planDesc"
    "planAmount planAmount"
  ;
  width: 240px;
  height: 95%;
  border-radius: 10px;
  margin: 0 0.5em;
  flex-shrink: 0;
  box-shadow: 0px 5px var(--drop-shadow-opacity) var(--drop-shadow-color);
}
.home .content .otherPlans .thisDay .dayList .dayPlan:first-child {
  margin-left: 0;
}
.home .content .otherPlans .thisDay .dayList .dayPlan:last-child {
  margin-right: 0;
}
.home .content .otherPlans .thisDay .dayList .dayPlan:nth-child(3n+1) {
  background-color: var(--accent-color1);
}
.home .content .otherPlans .thisDay .dayList .dayPlan:nth-child(3n+2) {
  background-color: var(--accent-color2);
}
.home .content .otherPlans .thisDay .dayList .dayPlan:nth-child(3n+3) {
  background-color: var(--accent-color3);
}
.home .content .otherPlans .thisDay .dayList .dayPlan .daypfp {
  grid-area: planPfp;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  margin: 0.5em;
}
.home .content .otherPlans .thisDay .dayList .dayPlan .dayTime {
  grid-area: planTime;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0.5em;
  color: var(--text-color1);
  font-size: 1.1rem;
}
.home .content .otherPlans .thisDay .dayList .dayPlan .dayUser {
  grid-area: planOwner;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0.5em;
  color: var(--text-color1);
  font-size: 1.4rem;
}
.home .content .otherPlans .thisDay .dayList .dayPlan .dayWhere, .home .content .otherPlans .thisDay .dayList .dayPlan .dayWhat, .home .content .otherPlans .thisDay .dayList .dayPlan .dayAmount {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0.5em;
  color: var(--text-color1);
  font-size: 1rem;
}
.home .content .otherPlans .thisDay .dayList .dayPlan .dayWhere {
  grid-area: planPlace;
}
.home .content .otherPlans .thisDay .dayList .dayPlan .dayWhat {
  grid-area: planDesc;
}
.home .content .otherPlans .thisDay .dayList .dayPlan .dayAmount {
  grid-area: planAmount;
}
ion-icon {
  font-size: 1.4em;
}
.home .content .myPlans {
  grid-area: myWeek;
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 10% 90%;
  grid-template-areas:
  "myHeader newLink"
  "myViewer myViewer"
  ;
  width: 100%;
  height: 100%;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}
.home .content .myPlans .myHeader {
  grid-area: myHeader;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--header-color);
  margin: 0;
  font-weight: 600;
}
.home .content .myPlans .moreLink {
  grid-area: newLink;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--accent-color4);
  margin: 0;
  font-weight: 600;
}
.home .content .myPlans .myDayList {
  grid-area: myViewer;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  width: calc(100% + 5vw);
  margin-left: -5vw;
  padding-left: 5vw;
  padding-right: 5vw;
}
.home .content .myPlans .myDayList div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.home .content .myPlans .myDayList div .myDayPlan {
  display: grid;
  grid-template-columns: 30% 40% 18% 12%;
  grid-template-rows: 40% 30% 30%;
  grid-template-areas:
    "planPfp planDesc planTime planDelete"
    "planPfp planDay planTime planDelete"
    "planPfp planPlace planTime planDelete"
  ;
  width: 100%;
  height: 120px;
  border-radius: 10px;
  margin: 0.5em 0;
  flex-shrink: 0;
  box-shadow: 0px 5px var(--drop-shadow-opacity) var(--drop-shadow-color);
  background-color: var(--main-color2);
}
.home .content .myPlans .myDayList div .myDayPlan .myDaypfp {
  grid-area: planPfp;
  display: flex;
  height: 70%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  margin: 0.5em;
}
.home .content .myPlans .myDayList div .myDayPlan .myDayWhat {
  grid-area: planDesc;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  color: var(--accent-color4);
  font-size: 1.5rem;
  font-weight: bold;
}
.home .content .myPlans .myDayList div .myDayPlan .myDayTime {
  grid-area: planTime;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  color: var(--text-color2);
  font-size: 1.1rem;
  padding-top: 50%;
}
.home .content .myPlans .myDayList div .myDayPlan .myTrash {
  grid-area: planDelete;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  color: var(--delete-color);
  font-size: 1.1rem;
  padding-top: 30%;
  background: transparent;
  border: none;
}
.home .content .myPlans .myDayList div .myDayPlan .myDayDay, .home .content .myPlans .myDayList div .myDayPlan .myDayWhere {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  color: var(--text-color2);
  font-size: 1.1rem;
}
.home .content .myPlans .myDayList div .myDayPlan .myDayDay {
  grid-area: planDay;
}
.home .content .myPlans .myDayList div .myDayPlan .myDayWhere {
  grid-area: planPlace;
}

/*Pr*/
.prSite .content {
  display: grid;
  height: calc(90% - 20px);
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 50% 38% 12%;
  grid-template-areas:
    "prs"
    "."
    "navBar"
  ;
  margin-top: 20px;
}
.prSite .content .pr {
  grid-area: prs;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 70% 30%;
  grid-template-rows: 10% 8% 82%;
  grid-template-areas:
    "prTitle moreLink"
    "prUpdate prUpdate"
    "prContent prContent"
  ;
}
.prSite .content .pr .prTitle {
  grid-area: prTitle;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin: 0;
  color: var(--header-color);
  font-weight: 600;
}
.prSite .content .pr .editLink {
  grid-area: moreLink;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0;
}
.prSite .content .pr .editLink ion-icon {
  color: var(--accent-color4);
  font-size: 2rem;
}
.prSite .content .lastUpdated {
  grid-area: prUpdate;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin: 0;
  color: var(--text-color2);
  font-size: 1.1rem;
  font-weight: 600;
}
.prSite .content .pr .prs {
  grid-area: prContent;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  margin-left: -5vw;
  padding-left: 5vw;
  margin-top: 1em;
}
.prSite .content .pr .prs .prList {
  grid-area: myViewer;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  margin-left: -5vw;
  padding-left: 5vw;
}
.prSite .content .pr .prs .prList .prElem {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas:
    "prExercise prValue"
  ;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  margin: 0.5em 0;
  flex-shrink: 0;
  box-shadow: 0px 5px var(--drop-shadow-opacity) var(--drop-shadow-color);
  background-color: var(--main-color2);
}
.prSite .content .pr .prs .prList .prElem:first-child {
  margin-top: 0;
}
.prSite .content .pr .prs .prList .prElem:last-child {
  margin-bottom: 0;
}
.prSite .content .pr .prs .prList .prElem .prName {
  grid-area: prExercise;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  color: var(--text-color2);
  font-size: 2.2rem;
  font-weight: bold;
  margin: 0;
  margin-left: 0.8em;
}
.prSite .content .pr .prs .prList .prElem .prWeight {
  grid-area: prValue;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  /* color: var(--accent-color4); */
  font-size: 2.2rem;
  font-weight: bold;
  margin: 0;
  margin-right: 0.8em;
}
.prSite .content .pr .prs .prList .prElem:nth-child(1) .prWeight {
  color: var(--accent-color1);
}
.prSite .content .pr .prs .prList .prElem:nth-child(2) .prWeight {
  color: var(--accent-color2);
}
.prSite .content .pr .prs .prList .prElem:nth-child(3) .prWeight {
  color: var(--accent-color3);
}

/*Plans*/
.daySite .content {
  display: grid;
  height: calc(90% - 20px);
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 88% 12%;
  grid-template-areas:
    "plans"
    "navBar"
  ;
  margin-top: 20px;
}
.daySite .content .myDays {
  grid-area: plans;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 70% 30%;
  grid-template-rows: 10% 8% 82%;
  grid-template-areas:
    "otherHeader editLink"
    "weekDate weekDate"
    "weekViewer weekViewer"
  ;
}
.daySite .content .myDays .dayHeader {
  grid-area: otherHeader;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin: 0;
  color: var(--header-color);
  font-weight: 600;
}
.daySite .content .myDays .editLink {
  grid-area: editLink;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0;
  font-weight: 600;
  text-align: right;
  text-decoration: none;
}
.daySite .content .myDays .editLink ion-icon {
  color: var(--accent-color4);
  font-size: 2rem;
}
.daySite .content .myDays .lastUpdated {
  grid-area: weekDate;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin: 0;
  color: var(--text-color2);
  font-size: 1.1rem;
  font-weight: 600;
}
.daySite .content .myDays .days {
  grid-area: weekViewer;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  margin-left: -5vw;
  padding-left: 5vw;
  margin-top: 1em;
}
.daySite .content .myDays .days .dayElem {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 65% 35%;
  grid-template-areas:
    "dayName dayOpenButton"
    "dayAmount dayAmount"
  ;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  margin: 0.5em 0;
  flex-shrink: 0;
  box-shadow: 0px 5px var(--drop-shadow-opacity) var(--drop-shadow-color);
}
.daySite .content .myDays .days .active {
  height: 120px;
}
.daySite .content .myDays .days .dayElem:first-child {
  margin-top: 0;
}
.daySite .content .myDays .days .dayElem:last-child {
  margin-bottom: 0;
}
.daySite .content .myDays .days .dayElem:nth-child(3n+1) {
  background-color: var(--accent-color1);
}
.daySite .content .myDays .days .dayElem:nth-child(3n+2) {
  background-color: var(--accent-color2);
}
.daySite .content .myDays .days .dayElem:nth-child(3n+3) {
  background-color: var(--accent-color3);
}
.daySite .content .myDays .days .dayElem .dayName {
  grid-area: dayName;
  display: flex;
  height: fit-content;
  justify-content: flex-start;
  align-items: center;
  color: var(--text-color1);
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0.4em 0em 0.4em 0.6em;
}
.daySite .content .myDays .days .dayElem .openButton {
  grid-area: dayOpenButton;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--text-color1);
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0.4em 0.3em 0.4em 0;
  background: transparent;
  border: none;
  transition: 0.5s;
}
.daySite .content .myDays .days .dayElem .amountCounter {
  grid-area: dayAmount;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  color: var(--text-color1);
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  margin-left: 1.4em;
}
.daySite .content .myDays .days .dayElem .exerciseList {
  display: none;
  grid-area: dayAmount;
  height: fit-content;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 1.4em;
  font-size: 1.2rem;
  color: var(--text-color1);
}

/*newPlan*/
.planSite .content {
  display: grid;
  height: calc(100% - 14px);
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 10% 78% 12%;
  grid-template-areas:
    "backNav"
    "newPlan"
    "navBar"
  ;
}
.planSite .content .planSiteCreate {
  grid-area: newPlan;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--main-color2);
  border-radius: 20px;
  box-shadow: 0px 5px var(--drop-shadow-opacity) var(--drop-shadow-color);
  overflow-y: scroll;
  overflow-x: hidden;
}
.planSite .content .planSiteCreate .planForm {
  width: 90%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.planSite .content .planSiteCreate .planForm h3 {
  margin: 0;
  margin-top: 0.7em;
  margin-bottom: 0.2em;
  font-size: 1.8rem;
  font-weight: bold;
}
.planSite .content .planSiteCreate .planForm h3:nth-child(1) {
  color: var(--accent-color1);
}
.planSite .content .planSiteCreate .planForm h3:nth-child(3) {
  color: var(--accent-color2);
}
.planSite .content .planSiteCreate .planForm h3:nth-child(7) {
  color: var(--accent-color3);
}
.planSite .content .planSiteCreate .planForm h3:nth-child(9) {
  color: var(--accent-color1);
}
.planSite .content .planSiteCreate .planForm h3:nth-child(11) {
  color: var(--accent-color2);
}
.planSite .content .planSiteCreate .planForm input {
  height: 60px;
  width: calc(100% - 0.4em);
  margin: 0;
  padding: 0;
  padding-left: 0.4em;
  border-radius: 10px;
  border: none;
  background-color: var(--input-color);
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-color2);
}
.planSite .content .planSiteCreate .planForm select {
  height: 60px;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 0.4em;
  border-radius: 10px;
  border: none;
  background-color: var(--input-color);
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-color2);
}
.planSite .content .planSiteCreate .planForm .hour, .planSite .content .planSiteCreate .planForm .minute {
  height: 60px;
  width: 45%;
  margin: 0;
  padding: 0;
  padding-left: 0.4em;
  border-radius: 10px;
  border: none;
  background-color: var(--input-color);
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-color2);
}
.planSite .content .planSiteCreate .planForm .spacerTime {
  display: inline-block;
  width: 10%;
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color2);
  margin: auto;
  text-align: center;
}
.planSite .content .planSiteCreate .planForm .createPlanButton {
  height: 60px;
  width: 100%;
  margin: 0.7em 0;
  padding: 0;
  border-radius: 10px;
  border: none;
  background-color: var(--accent-color4);
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-color1);
  transition: 0.5s;
}

/*EditDays*/
.editDaySite .content {
  display: grid;
  height: calc(100% - 14px);
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 10% 78% 12%;
  grid-template-areas:
    "backNav"
    "edit"
    "navBar"
  ;
}
.editDaySite .content .editDayContent {
  grid-area: edit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--main-color2);
  border-radius: 20px;
  box-shadow: 0px 5px var(--drop-shadow-opacity) var(--drop-shadow-color);
  overflow-y: scroll;
  overflow-x: hidden;
}
.editDaySite .content .editDayContent #updateForm {
  width: 90%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.editDaySite .content .editDayContent #updateForm .updateButton {
  width: 50%;
  height: 60px;
  margin: 0.7em 0;
  padding: 0;
  border-radius: 10px;
  border: none;
  background-color: var(--accent-color4);
  color: var(--text-color1);
  font-size: 1.2rem;
}
.editDaySite .content .editDayContent #updateForm .moreDays {
  width: 50%;
  height: 60px;
  margin: 0.7em 0;
  padding: 0;
  border-radius: 10px;
  border: none;
  background-color: var(--input-color);
  color: var(--text-color2);
  font-size: 1.2rem;
}
.editDaySite .content .editDayContent #updateForm #formContent div label {
  margin: 0;
  margin-top: 0.7em;
  margin-bottom: 0.2em;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--accent-color4);
}
.editDaySite .content .editDayContent #updateForm #formContent div div label {
  font-size: 1.4rem;
  color: var(--header-color);
}
.editDaySite .content .editDayContent #updateForm #formContent div input {
  height: 60px;
  width: calc(55% - 0.4em);
  margin: 0;
  padding: 0;
  padding-left: 0.4em;
  border-radius: 10px;
  border: none;
  background-color: var(--input-color);
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-color2);
}
.editDaySite .content .editDayContent #updateForm #formContent div div input {
  width: calc(85% - 0.4em);
}
.editDaySite .content .editDayContent #updateForm #formContent div .deleteButton{
  height: 50px;
  width: calc(15% - 0.4em);
  margin: 0;
  padding: 0;
  padding-left: 0.4em;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  color: var(--delete-color);
}
.editDaySite .content .editDayContent #updateForm #formContent div .addExercise {
  height: 50px;
  width: calc(20% - 0.4em);
  margin: 0;
  padding: 0;
  padding-left: 0.4em;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  color: var(--accent-color4);
}

/*EditPr*/
.editPrSite .content {
  display: grid;
  height: calc(100% - 14px);
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 10% 78% 12%;
  grid-template-areas:
    "backNav"
    "edit"
    "navBar"
  ;
}
.editPrSite .content .editPrMain {
  grid-area: edit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
  background-color: var(--main-color2);
  border-radius: 20px;
  box-shadow: 0px 5px var(--drop-shadow-opacity) var(--drop-shadow-color);
}
.editPrSite .content .editPrMain .updateForm {
  width: 90%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.editPrSite .content .editPrMain .updateForm label {
  margin: 0;
  margin-top: 0.7em;
  margin-bottom: 0.2em;
  font-size: 1.8rem;
  font-weight: bold;
}
.editPrSite .content .editPrMain .updateForm label:nth-child(1) {
  color: var(--accent-color1);
}
.editPrSite .content .editPrMain .updateForm label:nth-child(6) {
  color: var(--accent-color2);
}
.editPrSite .content .editPrMain .updateForm label:nth-child(11) {
  color: var(--accent-color3);
}
.editPrSite .content .editPrMain .updateForm input {
  height: 60px;
  width: calc(100% - 0.4em);
  margin: 0;
  padding: 0;
  padding-left: 0.4em;
  border-radius: 10px;
  border: none;
  background-color: var(--input-color);
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-color2);
}
.editPrSite .content .editPrMain .updateForm #submit {
  height: 60px;
  width: 100%;
  margin: 0.7em 0;
  padding: 0;
  border-radius: 10px;
  border: none;
  background-color: var(--accent-color4);
  color: var(--text-color1);
  font-size: 1.2rem;
}

/*Profile*/
.profileSite .content {
  display: grid;
  height: calc(100% - 14px);
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 20% 68% 12%;
  grid-template-areas:
    "profileTop"
    "profile"
    "navBar"
  ;
}
.profileSite .content .profileTop {
  grid-area: profileTop;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 100%;
  grid-template-areas: 
    "profilePic profileInfo"
  ;
  width: 100%;
  height: 90%;
  margin: 0;
  padding: 0;
  background-color: var(--main-color2);
  border-radius: 20px;
  box-shadow: 0px 5px var(--drop-shadow-opacity) var(--drop-shadow-color);
}
.profileSite .content .profileTop .profilePic {
  grid-area: profilePic;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.profileSite .content .profileTop .profilePic img {
  height: 100px;
  width: 100px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  border: 5px solid var(--main-color2);
}
.profileSite .content .profileTop .userName {
  grid-area: profileInfo;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.profileSite .content .profileMain {
  grid-area: profile;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
}
.profileSite .content .profileMain .logout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40%;
  margin: 0.7em 0;
  padding: 0;
  border-radius: 10px;
  border: none;
  background-color: var(--input-color);
  color: var(--text-color2);
  font-size: 1.5rem;
  text-decoration: none;
  transition: .5s;
}
.profileSite .content .profileMain .logout:hover {
  background-color: var(--delete-color);
}

/*LoginSite*/
.login {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.login .content {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 60% 40%;
  grid-template-areas:
    "logo"
    "loginBox"
  ;
}
.login .content .logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.login .content .logo img {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 20px;
}
.login .content .loginBox {
  grid-area: loginBox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--main-color2);
  border-radius: 20px 20px 0 0;
  box-shadow: 0px -5px var(--drop-shadow-opacity) var(--drop-shadow-color);
}
.login .content .loginBox .loginBtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  width: 60%;
  margin: 0;
  padding: 5px;
  background-color: var(--delete-color);
  border-radius: 15px;
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.login .content .loginBox .loginBtn img {
  height: 50px;
  width: 50px;
}

/*Error and PleaseLogin*/
.error, .pleaseLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.error .errorBox, .pleaseLogin .pleaseLoginBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 80%;
  margin: 0;
  padding: 0;
  background-color: var(--main-color2);
  border-radius: 20px;
  box-shadow: 0px 5px var(--drop-shadow-opacity) var(--drop-shadow-color);
  text-align: center;
}